<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="dwatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="dstarSource" value="http://www.dstarinfo.org"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <dwatcher.Properties.Settings>
      <setting name="dstarSource" serializeAs="String">
        <value>http://dstarusers.org/</value>
      </setting>
      <setting name="DXSource" serializeAs="String">
        <value>http://dxdisplay.caps.ua.edu:82/api/stations_heard_list</value>
      </setting>
      <setting name="SMTPserver" serializeAs="String">
        <value />
      </setting>
      <setting name="emailFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="emailTo" serializeAs="String">
        <value />
      </setting>
      <setting name="SMTPport" serializeAs="String">
        <value />
      </setting>
      <setting name="SMTPuid" serializeAs="String">
        <value />
      </setting>
      <setting name="SMTPpw" serializeAs="String">
        <value />
      </setting>
      <setting name="timeOut" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="watchdstar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="watchdx" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="call1" serializeAs="String">
        <value />
      </setting>
      <setting name="call2" serializeAs="String">
        <value />
      </setting>
      <setting name="call3" serializeAs="String">
        <value />
      </setting>
      <setting name="call4" serializeAs="String">
        <value />
      </setting>
      <setting name="call5" serializeAs="String">
        <value />
      </setting>
      <setting name="call6" serializeAs="String">
        <value />
      </setting>
      <setting name="BotToken" serializeAs="String">
        <value />
      </setting>
      <setting name="DestinationID" serializeAs="String">
        <value />
      </setting>
    </dwatcher.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
